* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7fc;
    width: 2000px;
    height: 1800px;   
    border: solid 2px #06D001;
   
    
      
}   



.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #6a1e55;
    width:100%;
    height: 80px;
    cursor: pointer;
    margin-bottom: -200px;
    font-size: 40px;
    
    
}
a {
    color:#fbfcfb;
    text-decoration: none;
    animation-fill-mode: forwards;  
}

#saiba-mais {
    background-color: #1A1A1D;
    animation-fill-mode: forwards;  
}


nav {
    
    align-items: center;
    text-align: center;    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    
    
}

.slogan {
    color: #27391C;
    font-size: 10.5rem;
    text-align: left;
    margin-top: -1100px;
    margin-left: 40px;
    z-index: 100;
    display:block;
    direction: ltr;
    
}
#cartao {
    margin-left: 659px;
    display: flex
     
     
}
#cartao2 {
    margin-left: 659px;
    margin-top: -200px;
    display: flex;
         
     
}

#cartao3 {
    margin-left: 659px;
    margin-top: -200px;
    display: flex;
     
     
}

#cartao4 {
    margin-left: 659px;
    margin-top: -200px;
    display: flex;
     
     
}

.cartao-size {
    width: 500px;
    height: 300px;
    background-color: #1A1A1D;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 250px;
    margin-right: auto;
    display: flex;
    transition: all 1.9s ease-in-out;
    animation-timing-function: linear;
}

